<!-- Modal Faturar Pedido -->
<div class="modal fade" id="ModalFaturarPedido" tabindex="-1" role="dialog" aria-labelledby="ModalFaturarPedidoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalFaturarPedido">Faturar Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nº Pedido:</label>
                        <input type="text" class="form-control" id="recipient-name" name="id" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Faturar</button>
                </div>
            </form>
        </div>
    </div>
</div>