<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="~/Home/Index">SEMUS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @if (ViewBag.Type != null)
    {
        if (ViewBag.Stock != null)
        {
            using (Html.BeginForm(null, null, new { stockID = ViewBag.Stock.ID, type = ViewBag.Type }, FormMethod.Post, null, new { @class = "w-100" }))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-dark w-100", placeholder = "Pesquisar" })
            }
        }
        else
        {
            using (Html.BeginForm(null, null, new { type = ViewBag.Type }, FormMethod.Post, null, new { @class = "w-100" }))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-dark w-100", placeholder = "Pesquisar" })
            }
        }
    }
    else
    {
        using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "w-100" }))
        {
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-dark w-100", placeholder = "Pesquisar" })
        }
    }

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

        </li>
    </ul>
</nav>