@{
    ViewData["Title"] = "Home Page";
}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Bem Vindo!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" id="registerLink" role="button">Saiba mais &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Estoque -->
            <div class="col-md-4">
                <h2>Estoque</h2>
                <p>
                    Realize o gereciamento de medicamentos<br />
                    e suprimentos. Visualize as ordens<br />
                    de pedidos...
                </p>
                <p><a class="btn btn-secondary" role="button" asp-action="Index" asp-controller="Stock">Acessar &raquo;</a></p>
            </div>

            <!-- Receitas -->
            <div class="col-md-4">
                <h2>Receituário</h2>
                <p>
                    Realize o cadastro e gerenciamento<br />
                    de receitas. Vizualize as ordens de pedido<br />
                    ao estoque...
                </p>
                <p><a class="btn btn-secondary" href="~/Receita/RedirectActionAsync" role="button">Acessar &raquo;</a></p>
            </div>

            <!-- Pacientes -->
            <div class="col-md-4">
                <h2>Pacientes</h2>
                <p>
                    Realize o cadastro e gerenciamento<br />
                    de pacientes. Vizualize o receituário<br />
                    do paciente...
                </p>
                <p><a class="btn btn-secondary" href="~/Paciente/Index" role="button">Acessar &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
</main>