@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <section class="text-center">
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Você não possui autorização de acesso a este recurso.</p>
        </section>

    </div>
</div>
