@model WebApp_Semus.Models.List.SubGroupViewModel

@{
    ViewData["Title"] = "Adicionar Subgrupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adicionar</h1>
<h4>Subgrupo</h4>
<hr />

<form asp-action="CreateSubGroup">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="GroupID" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="ForeignKey" class="control-label"></label>
                <select asp-for="ForeignKey" asp-items="@ViewBag.List" class="form-control"></select>
                <span asp-validation-for="ForeignKey" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomJS/bootstrap-select.min.js"></script>
    <script src="~/js/SemusScripts/seletcpicker.js"></script>
}
