@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Stock/_LayoutStock.cshtml";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <!-- Header -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Listas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span> This week
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- Card-Deck -->
                <div class="card-deck mb-3">
                    <!-- Card -->
                    <div class="card mb-4 shadow-sm">
                        <!-- Header -->
                        <div class="card-header">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active"
                                       id="section-tab"
                                       data-toggle="tab"
                                       href="#section"
                                       role="tab"
                                       aria-controls="section"
                                       aria-selected="true">
                                        Seção
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="group-tab"
                                       data-toggle="tab"
                                       href="#group"
                                       role="tab"
                                       aria-controls="group"
                                       aria-selected="false">
                                        Grupo Farmacológico
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="subGroup1-tab"
                                       data-toggle="tab"
                                       href="#subGroup1"
                                       role="tab"
                                       aria-controls="subGroup1"
                                       aria-selected="false">
                                        Subgrupo 1
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="subGroup2-tab"
                                       data-toggle="tab"
                                       href="#subGroup2"
                                       role="tab"
                                       aria-controls="subGroup2"
                                       aria-selected="false">
                                        Subgrupo 2
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link"
                                       id="subGroup3-tab"
                                       data-toggle="tab"
                                       href="#subGroup3"
                                       role="tab"
                                       aria-controls="subGroup3"
                                       aria-selected="false">
                                        Subgrupo 3
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Body -->
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="section" role="tabpanel" aria-labelledby="section-tab">
                                    @await Component.InvokeAsync("SectionList")
                                </div>
                                <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
                                    @await Component.InvokeAsync("GroupList")
                                </div>
                                <div class="tab-pane fade" id="subGroup1" role="tabpanel" aria-labelledby="subGroup1-tab">
                                    @await Component.InvokeAsync("SubGroupList", new { id = 1 })
                                </div>
                                <div class="tab-pane fade" id="subGroup2" role="tabpanel" aria-labelledby="subGroup2-tab">
                                    @await Component.InvokeAsync("SubGroupList", new { id = 2 })
                                </div>
                                <div class="tab-pane fade" id="subGroup3" role="tabpanel" aria-labelledby="subGroup3-tab">
                                    @await Component.InvokeAsync("SubGroupList", new { id = 3 })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

