@model WebApp_Semus.Models.Stock.Product.MedicamentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>
<h4>Medicamento</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PharmaceuticalForm" class="control-label"></label>
                <input asp-for="PharmaceuticalForm" class="form-control" />
                <span asp-validation-for="PharmaceuticalForm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <textarea asp-for="Availability" class="form-control"></textarea>
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="button" id="addSubGroup" class="btn btn-outline-success">Adicionar subgrupo</button>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Section" class="control-label"></label>
                        <select asp-for="Section" asp-items="@ViewBag.Section" class="form-control"></select>
                        <span asp-validation-for="Section" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PharmacologicalGroup" class="control-label"></label>
                        <select asp-for="PharmacologicalGroup" class="form-control">
                            @await Component.InvokeAsync("DynamicList")
                        </select>
                        <span asp-validation-for="PharmacologicalGroup" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="subGroup"></div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/js/CustomJS/bootstrap-select.min.js"></script>
        <script src="~/js/SemusScripts/seletcpicker.js"></script>*@
    <script src="~/js/SemusScripts/stock.scripts.js"></script>
}
